<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StoredNumbers" value="{0126432648=David};{0114567890=Jackson};{0837845754=Simphiwe};{0727845234=Tendani};{0691230450=Lufuno};{0737397153=winnie}" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>